a {
	color: #39B1C6;
}

a:hover {
	color: #00688A;
}

/*
body,
body > #vue-app,
body > #vue-error {
	color: #FFF;
	background-color: #302F39;
}
*/
/*
.page-content {
	background-color: #302F39;
}
*/

/* Header */
.top-bar {
	background-color: #383642;
}

.top-bar .controls-list .control-basket .toggle-basket-preview {
	background-color: #1FD26A;
}

.top-bar .controls-list .control-basket .toggle-basket-preview:hover {
	background-color: #39B1C6;
}

.top-bar .controls-list > li a:not(.btn):hover {
    background-color: #39B1C6;
}

.navbar {
	background-color: #302F39;
	border-bottom: 1px solid #302F39;
}

.wrapper-main .navbar {
	border-bottom: 1px solid #302F39;
}

.wrapper-main .breadcrumbs {
	background-color: #DADAE3;
}

.breadcrumb-item.active {
	color: #EC3F8C;
}

/* List Controls */
.list-controls .list-controls-inner {
	background: #DADAE3;
}

.list-controls .filter-toggle {
	background-color: #1FD26A;
	color: #FFF;
	padding: 26px 10px 26px 10px;
}

.list-controls #filterCollapse .page-content {
	margin: 0 9px;
}

/* Mega Menu */
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse {
	background-color: rgba(37, 36, 44, .9);
}

nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner {
	background-color: transparent;
}

nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner > li > a {
	color: #DCDBD8;
	font-size: 80%;
	font-weight: bold;
}

nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner > li > a:hover {
	color: #EC3F8C;
}

nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner .level1 > a {
	color: #DCDBD8;
	font-size: 100%;
}

nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner .level1 > a:hover {
	color: #EC3F8C;
}

nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse {
	column-rule: 1px solid #616161;
}

#mainNavbarCollapsable ul.mainmenu {
	color: #EC3F8C;
}

.no-touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li:hover,
.touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li.hover {
	background-color: #EC3F8C !important;
	color: #FFF !important;
}

/* Product listing */
.cmp-product-thumb .add-to-basket-lg-container:hover {
    border-color: transparent #39B1C6 transparent transparent;
}

/* Back to top */
.back-to-top {
	opacity: 1;
	border: 1px solid #EC3F8C;
	background: #EC3F8C;
}

/* Buttons */
.btn-primary, .widget-address.widget-primary .btn-primary {
	background-color: #39B1C6;
	border-color: #39B1C6;
}

.owl-carousel .carousel-control:hover i {
	color: #39B1C6;
}

/* Mobile customizations */
.navbar-toggler {
	color: #EC3F8C;
}

/*
.mobile-navigation ul.mainmenu.menu-active {
	background-color: #39B1C6;
}
*/

.mobile-navigation {
	background: #39B1C6;
}